[Unit]
Description=yandex.ru mail service tunnel
After=network-online.target
After=local-fs.target

[Service]
ExecStart=/etc/stunnel/yandex-smtps.stun
KillMode=process
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
